/*
main.css
Author: Brian
*/

header {
  background-color: #8071;
  border: 5px solid #777;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  display:grid;
}

.navbar {
  background-color: #000;
  height: 40px;
  float: left;
  width: 90%;
}

.navbar:hover {
  background-color: red;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar ul li {
  display: block;
  position: relative;
  float: left;
  background-color: #faf;
}

.navbar ul li a {
  display: block;
  padding: 0;
  border-style: dashed;
  text-decoration: none;
  width: 100px;
  line-height: 30px;
}

.navbar1 li:hover {
  background-color: yellow;
}

.navbar2 li:hover {
  background-color: yellow;
}

.navbar1 ul {
  position: absolute;
  padding: 0;
  left: 0;
  display: none;
}

.navbar1 li:hover ul ul {
  display: none;
}

.navbar1 li:hover ul {
  display: block;
}

.navbar1 li li:hover ul {
  display: block;
  margin-left: 100px;
  margin-top: -40px;
}

.show {
  display: none;
}

.hbar:after {
  content: "";
  display: table;
  clear: both;
}

#dvbar2 {
  display: block;
}

#dvbar3 {
  display: none;
}

.info {
  float: left;
  width: 25%;
}

.info img {
  width: 25%;
}

@media screen and (max-width: 700px) {
  .navbar {
    width: 100%;
    height: auto;
  }
  #dvbar2 {
    display: none;
  }
  #dvbar3 {
    display: block;
  }
  .info {
    width: 100%;
  }
  .charts{
    -webkit-transform: rotate(90deg) translate(-9px, 6px);
    transform: rotate(90deg) translate(-9px, 6px);
  }
  header{
    position: relative;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#dvsize {
  background-color: #ffeebb;
}

footer {
  background-color: #000000;
}


body {
    background-color: #ffffd8;
}

textarea {
    width: 80%;
    min-height: 100px;
}

.app {
    width: 85%;
    margin: inherit;
}

input:focus, textarea:focus {
    color: goldenrod;
}

hr {
    border: 1px solid blue;
		border-top: solid 10px #e8e2e3;
}

#message {
  border: 10px solid #777;
  padding: 100px;
  margin-bottom: 50px;
}

#messages {
  border: 10px solid #777;
  height: 600px;
  padding: 100px;
  overflow: scroll;
  margin-bottom: 50px;
}

.dvuiprofile {
  background-color: rgba(25, 70, 51, 2);
	border: 3px;
	border-radius: 3.5em;
	color: rgba(55, 25, 55, 0.95);
  height: 40px;
  width: 40px;
  border-color: #123;
  border-style: solid;
}

.dvuiprofile img {
  height: 40px;
  width: 40px;
  border: solid 5px white;
  border-radius: 100%;
}

.gdvuiprofile {
  background-color: rgba(25, 70, 51, 2);
	border: 3px;
	border-radius: 3.5em;
	color: rgba(55, 25, 55, 0.95);
  height: 140px;
  width: 140px;
  border-color: #123;
  border-style: solid;
}

.gdvuiprofile img {
  height: 140px;
  width: 140px;
  border: solid 5px white;
  border-radius: 100%;
}


.dvlogin {
  border: 10px solid #777;
  width: auto;
  padding: 100px;
  margin-bottom: 50px;
  background-color: #d4ff39;
}

.frmlogin {
   min-width: 100px;
   max-width: 500px;
   width: 90%;
   background: #ffffc8;
}

form > div {
    position: relative;
}

form {
    width: 100%;
    margin: 2em auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 22px;
    border: groove 10px green;
}

.cinpt {
  width: 100%;
}
